.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.content {
  flex: 1;
  padding: 20px;
}

.nav-pills li a:hover{
 background-color:blue;
}

/* Main Container Styles */
.main-container {
  display: flex;
  height: 100vh; /* Set the container to take the full viewport height */
}


/* Main Content Styles */
.main-content {
  flex: 1; /* This will make the main content take the rest of the available space */
  display: flex;
  flex-direction: column;
}

/* Header Styles */
header {
  height: 40px; /* Set the height of the header as needed */
}